<aside th:fragment="sidebar (prepend)" class="z-0 hidden w-72 flex-col gap-8 md:flex">
  <th:block th:if="${prepend != null}">
    <th:block th:replace="${prepend}" />
  </th:block>

  <th:block th:replace="~{modules/widgets/daily-quote}" />

  <th:block th:with="widgets = ${theme.config.sidebar.widgets} ">
    <th:block th:each="widget : ${widgets}">
      <th:block th:with="options = ${widget.options}">
        <div class="sidebar-widget-wrapper">
          <th:block th:replace="~{'modules/widgets/'+${widget.value}}" />
        </div>
      </th:block>
    </th:block>
  </th:block>

  <!-- <th:block th:replace="~{modules/widgets/latest-comments}" /> -->
</aside>
